h2 {
    font-size: 3em;
    border-bottom: 1px solid #000;
    margin-bottom: 1em;
}

/* --------------------- Notícias de Destaque --------------------- */

section {
    border-bottom: 1px double #000;
    overflow: hidden;
}

.fundo-branco {
    background-color: var(--branco);
    transform: rotate(225deg);
    height: 30em;
    width: 30em;
    margin: 9em auto 10em auto;
    box-shadow: inset .3em .3em .8em rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo-branco figure {
    box-shadow: inset .3em .3em .8em rgba(0, 0, 0, 0.25);
    background-color: hsl(158, 38%, 94%);
    transform: rotate(180deg);

    min-height: 28em;
    min-width: 28em;
    max-height: 28em;
    max-width: 28em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.fundo-branco img {
    min-height: 28em;
    min-width: 28em;
    max-height: 28em;
    max-width: 28em;
    transform: rotate(-90deg);
}

.fundo-branco figcaption {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo-branco figcaption:hover {
    opacity: .8;
    background-color: hsl(0, 0%, 0%);
}

.fundo-branco figcaption p {
    transform: rotate(-45deg);
    text-align: center;
    color: var(--branco);
    font-size: 2em;
}

/* ---------------------------------------------------------------- */

/* --------------------- Notícias Recentes --------------------- */

#noticias {
    width: 95%;
}

#noticias-recentes {
    padding: 2em;
}

#noticias-recentes a {
    color: var(--preto);
}

#noticias-recentes article {
    height: 20em;
    border-radius: 1.2em 0 1.2em 0;
    box-shadow: .3em .3em .8em rgba(0, 0, 0, 0.25);
    /* margin-bottom: 1.5em; */
    background-color: var(--branco);
    overflow: hidden;
    transition: box-shadow .3s;

    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
}

#noticias-recentes article:hover {
    box-shadow: .3em .3em .8em rgba(19, 93, 241, .25);
}

article .img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

article img {
    height: 100%;
    width: 100%;
    border-radius: 1.2em 0 1.2em 0;
}

#noticias-recentes article h3 {
    font-size: 2em;
    max-height: 50%;
    /* background-color: lightblue; */
    overflow: hidden;
}

#noticias-recentes article q {
    font-size: 1.8em;
    max-height: 100%;
    /* background-color: lightgreen; */
}

/* ------------------------------------------------------------- */

/* --------------------- Métricas --------------------- */

.impacto {
    background-color: rgba(19, 93, 241, .1);
    border: .2em hsl(220, 89%, 51%) solid;
    border-radius: 1.4em 0 1.7em 0;
    box-shadow: .3em .3em .8em rgba(0, 0, 0, .5);
}

.verde {
    background-color: rgba(111, 190, 161, .1);
    border: .2em hsl(158, 38%, 59%) solid;
    border-radius: 1.4em 0 1.7em 0;
    box-shadow: .3em .3em .8em rgba(0, 0, 0, .5);
}

.amarelo {
    background-color: rgba(240, 181, 5, .1);
    border: .2em hsl(45, 96%, 48%) solid;
    border-radius: 1.4em 0 1.7em 0;
    box-shadow: .3em .3em .8em rgba(0, 0, 0, .5);
}

.vermelho {
    background-color: rgba(219, 26, 42, .1);
    border: .2em hsl(355, 79%, 48%) solid;
    border-radius: 1.4em 0 1.7em 0;
    box-shadow: .3em .3em .8em rgba(0, 0, 0, .5);
}

#metricas {
    border-radius: 1.2em 0 1.2em 0;
    box-shadow: .3em .3em .8em rgba(0, 0, 0, 0.25);
    padding: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#metricas div {
    display: flex;
    justify-content: center;
    align-items: center;
}


#metricas .box{
    height: 12em;
    width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5em;
    transform: rotate(45deg);
}

#metricas .fume{
    color: var(--branco);
    background-color: rgba(0, 0, 0, .9);
    z-index: 1;
    transition: opacity .4s;
    position: absolute;
    height: 12em;
    width: 12em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#metricas .fume:hover{
    opacity: 0;
    background-color: hsl(0, 0%, 0%);
}

#metricas .sobreposto{
    min-height: 12em;
    min-width: 12em;
    max-height: 12em;
    max-width: 12em;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#metricas .sobreposto:hover{
    opacity: 1;
}

#metricas h4{
    transform: rotate(-45deg);
}


/* ---------------------------------------------------- */